@charset "utf-8";
/* CSS Document */
h1{
	background-color: rgb(113, 159, 81);
	/*height:150px;*/
	width:400px;
	/*display:none;*//*esta opción oculta el elemento*/
	opacity:0;/*transparencia completa*/
}
h2{
	background-color:rgb(153, 63, 244);
	display:inline;
}
p{
	display:inline;
}

