@charset "utf-8";
/* CSS Document */
/*Alineación del texto*/
p{
	text-align:justify;
	text-indent:1cm;/* asigna una tabulacion en el texto*/
	text-transform:capitalize;/*primera letra mayuscula*/
	letter-spacing:5px; /*espacio entre letras*/
}
h1{
	text-decoration:underline;/*SUBRAYA EL TEXTO*/
	word-spacing:30px;/* espacio entre palabras*/
	color:#C06;
	text-transform: lowercase;
}
