/* ENCABEZADO FRANJA */
header{
  background-color: rgb(213, 156, 64);
  width: 100%;
  height: 120px;
}
/* ESTILO DE IMAJEN*/
header img{
	height:90%;
	float:right;
	padding:0.5% 2% 0 0 ;/* relleno superios derecho inferior izquierdo*/
}
/*PARTE CENTRAL DE LA PAGINA*/
section{
  width: 100%;
  height: 400px;
  background-color: rgb(133, 195, 226);
}
/*PARTE IZQUIERDA DE LA PAGINA*/
section aside{
  width: 20%;
  height: 400px;
  background-color: rgb(24, 128, 180);
  float:left;
}
/*PARTE DERECHA DE LA PAGINA*/
section article{
  width: 80%;
  height: 400px;
  background-color: rgb(150, 185, 203);
  float:right;
}
/*PIE DE PAGINA*/
footer{
  height: 100px;
  width: 100%;
  background-color: rgb(218, 146, 29);
  clear:both;
}
