body{
	background-color: #02010a;
}

/*************	wrapper********/
.wrapper{
	width:90%;
	max-width:1000px;
	margin:auto;
	overflow:hidden;
}
/********** ESTILO DEL ENCABEZADO***************/
header{
	margin: auto;
	background-color:#5b7989;
	padding: 30px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
/********** ESTILO DEL TEXTO DE ENCABEZADO*******/
#logo{
	color:#FFF;
	font-size:25px;
	float:left;
	text-shadow:2px 2px  #02010a;
	
}
/********* ESTILO DEL MENU DEL ENCABEZADO*******/
header nav{
	float:right;
}
/******** ESTILO DE FUENTE DE MENU DEL ENCABEZADO********/
header nav a{
	text-decoration:none;
	font-size:16px;
	color:#36F;
	text-shadow:1px 1px  #02010a;
}
/******************************************************************************************************/
/********IMAGEN CENTRAL*******/
.imacentro{
	width:100%;
	margin:auto;
	padding: 15px;
	background-color:#82c3a6;
	box-sizing: border-box;
}

.imacentro img{
	width:80%;
	border-radius:10px;
	box-shadow:5px 5px #000;
	display:block;
	margin: auto;
	
}
/********************************************************************************************/
/* ****** ESTILO DE  LAS COLUMNAS*******/
.contenedor-columna{
	width:100%;
	margin:auto;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	background-color:#d5c75f;
	border:solid 1px;
	box-sizing: border-box;

	/*flex-direction:row;*/
	
	/*/flex-wrap:wrap;*/
	/*margin-bottom:50px;*/
}
.columnas{
	width:50%;
	padding:5px;
	margin:auto;
		

	
	
}
/***************************************************************************************/
/*************************IMAGENES INDEX********************************************************/
#imaruinas{
	width: 100%;
	border-radius:10px;
	box-shadow:2px 2px  #82c3a6;
	margin:auto;
	
	
}
#imaruinas:hover{
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	border-radius:15px;
	
}

#monse{
	width: 100%;
	border-radius:10px;
	box-shadow:2px 2px   #82c3a6;
	margin:auto;
	
}
#monse:hover{
    transform: translateY(5px);
    transform:translateX(20px);
    

    
}
.contenedor-columna {
	margin: auto;
}
.contenedor-columna h2{
	margin:auto;
	font-size:25px;
	color:white;
	text-shadow:1px 1px  #02010a;
	letter-spacing:1px;
	margin-top:10px;
	text-align: center;
}
p{
	color: #000;
	font-size:12px;
	text-align:justify;
	letter-spacing:1px;
}

/***************************COLUMNAS PAGINAS ALTERNAS*******************************************************************************/
/**********************************************CONTENEDOR DE LAS COLUMNAS**********************************************************/
.color-fondo{
	width: 100%;
	background-color:#d5c75f;
	border:solid 1px;
}
.galeria{
	width: 100%;
	margin: auto;
	margin-bottom: 50px;
	
}
/*******COLUMNAS********/
.columnas2{
	width: 33.333%;
	float: left;
	padding: 20px 20px;
	box-sizing: border-box;
	margin: auto;
}
/*********IMAGENES EN LAS COLUMNAS***************/
.columnas2 img{
	width: 100%;
	border: 1px solid black;
	border-radius: 10px;
	
}

/**********************EFECTO PARA IMAGENES*********/

#ima1{
	filter: blur(10px);
}
#ima2, #ima4, #ima6{
	filter: grayscale(100%);
}
#ima3{
	filter: sepia(90%);
}
/******************** PIE DE PAGINAS**************/
footer .fondopie{
	width: 100%;
	box-shadow: 0px 2px 2px #000;
	-moz-box-shadow:0px 2px 2px #000;
	-webkit-box-shadow: 0px 2px 2px #000;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-color: #C6d5c5;
	height:150px;
}
footer .contacto{
	width: 25%;
	margin: auto;
	float: left;
}
footer .terminos{
	width: 25%;
	margin: auto;
	float: left;
}
footer .redes{
	width: 25%;
	margin: auto;
	float: left;
}
footer .derechos{
	width: 25%;
	margin: auto;
	float: left;
}
footer img{
	width: 40px;
}
footer a{
	color:cadetblue;
	margin: auto;
	text-decoration: none;
}
.contenido{
	width: 100%;
	}
/****************************************************MEDIDAS ADAPTATIVAS********************************************************/
/************************MOVILES************************/

@media screen and (min-width:900px) and :(max-width:900px){
	body{
		clear: both;
		width:100%;
	}
	@media screen and (min-width:720px){
		.culumnas2{
			width: 100%;
			margin: auto;
		}
		footer img{
			width: 100%;
			clear: both;
			
		}
			.culumnas2 img{
			width: 100%;
			margin: auto;
		}
	}
