@charset "utf-8";
/* CSS Document */

body{
	margin:20px;
	font-family:Verdana, Geneva, sans-serif;
}
#menu-principal{
	padding: 10px 0px;
}
h1.titulo{
	background-color: aliceblue;
	text-align: center;
	padding: 10px;
}

.resaltado{
	background-color: yellow;
	color: black;
}

footer{
	border-top: solid 1px black;
	padding-top: 10px;
	text-align: center;
}